#### Multiply 10 with 5, and print the result.

In [1]:
print(10 * 5)

50

### Divide 10 by 2, and print the result.

In [2]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [5]:
fruits =["apple","banana","watermelon","guava","tangerine"]
s =str(input("enter your fruit"))
if s in fruits:
    print(f"your fruit is {s}")
else:
    print("not found")

enter your fruit dff

not found

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [6]:
print(5!=10)

True

### Use the correct logical operator to check if at least one of two statements is `True`.

In [8]:
print(8>9 or 4>3)

True

### Print the second item in the fruits list.

In [10]:
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [13]:
fruits[0]='kiwi'
print(fruits)

['kiwi', 'banana', 'watermelon']

### Use the append method to add "orange" to the fruits list.

In [27]:
fruits =["apple","banana","watermelon","guava","tangerine"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'watermelon', 'guava', 'tangerine', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [28]:
fruits =["apple","banana","watermelon","guava","tangerine"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'watermelon', 'guava', 'tangerine']

### Use the remove method to remove `"banana"` from the fruits list.

In [29]:
fruits =["apple","banana","watermelon","guava","tangerine"]
fruits.remove("banana")
print(fruits)

['apple', 'watermelon', 'guava', 'tangerine']

### Use negative indexing to print the last item in the list.

In [30]:
fruits =["apple","banana","watermelon","guava","tangerine"]
print(fruits[-1])

tangerine

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [33]:
fruits =["apple","banana","watermelon","guava","tangerine"]
print(fruits[2:6])

['watermelon', 'guava', 'tangerine']

### Use the correct syntax to print the number of items in the list.

In [36]:
fruits =["apple","banana","watermelon","guava","tangerine"]
print(len(fruits))

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [46]:
xc = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527]

for i in xc:
    if i < 237:
        print(i)

47
236
162
219
217
67
104
58
24
81

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [47]:
base =float(input("enter triangle base"))
height= float(input("enter triangle height"))
area = 0.5 * base* height
print(f"your area is {area}")

enter triangle base 5
enter triangle height 6

your area is 15.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [50]:
cx =[5,8,3]
cx.sort()
print(cx)

[3, 5, 8]

### Sort three integers :using conditional statements

In [71]:
e = int(input("enter first number"))
b = int(input("enter second number"))
f = int(input("enter third number"))
min=mid=max=0
if e < b and e < f:
    if b < f:
        min, mid, max = e, b, f
    else:
        min, mid, max = e, f, b
        
elif b < e and b < f:
    if e < f:
        min, mid, max = b, e, f 
    else:
        min, mid, max = b, f, e 
else:
    if e <b:
        min, mid, max = f, e, b
    else:
        min, mid, max = f, b, e
print(min,mid,max)

enter first number 1
enter second number 4
enter third number 44

1 4 44

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [72]:
def test(data):
    if len(data)==len(set(data)):
        return True
    else:
        return False
print(test([1,2,3,5,48,7]))
print(test([2,2,3,3,5,7]))

True
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [73]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())
print(sum(dict1.values()))

500

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [77]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
print(sum(dict1.values()))

600

### Filter the negative values from given dictionary

In [87]:
dict1 = {'ah': 100, 'a': -200, 'c': 300,'aaa':-20 ,'dd':-90}
dict2 = dict((key, value) for key, value in dict1.items() if value >= 0)
print(dict2)

{'ah': 100, 'c': 300}

### Test if all Values are Same in Dictionary

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

In [103]:
def test(test_dict):
    if len(test_dict) == len(dict(test_dict)):
        return False
    else:
        return True
print(test({"Gfg": 8, "is": 5, "Best": 5, "Gfg": 8}))

False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [18]:
work_dict={"ali":25, "amit":33, "xceed":64 ,"divid":24}
33 in work_dict.values()
'ali' in work_dict.keys()

True

### Calculate the sum of all numbers from 0 to a given number

In [19]:
print(sum(work_dict.values()))

146

### Find the factorial of a given number using while loop

In [20]:
n =int(input("enter your factorial number"))
f = 1
while n >0:
    f = f*n
    n=n-1
print(f)

enter your factorial number 5

120

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [32]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    if (i%2)!=0:
        print(my_list[i])

20
40
60
80
100

### Calculate the cube of all numbers from 1 to a given number

In [31]:
for i in range(1,30):
    i+=1
    print(i**3)

8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000

### len of str in list
### ['apple', 'orange', 'cat']

In [47]:
ou_list=['apple', 'orange', 'cat']
print([ len(i) for i in ou_list])

[5, 6, 3]

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string

In [68]:
def vowel_count(str):
    count=0
    for alphabet in str:
        if alphabet in "directory":
            count=count+1
    return count
str = input("text: ")
count = vowel_count(str)
print(count)

text:  ali is my friend

7


### Write a Python program to add an item to a tuple.

In [70]:
n = (1,2,3)
l = list(n)
l.append(4)
n = tuple(l)
print(n)

(1, 2, 3, 4)

### Write a Python program to multiply all the items in a list.

In [74]:
a =[2,1,3,5,4,6]
c=1
for i in a:
    c= c*i
print(c)

720

### Write a Python program to get the smallest number from a list.

In [75]:
a =[2,1,3,5,4,6]
min = a [0]
max = a [0]
for i in range(len(a)):
    if a[i] > max:
        max =a[i]
    elif a[i]< min:
        min= a[i]
print(max, min)

6 1

### Write a Python program to get the largest number from a list.

In [76]:
a =[2,1,3,5,4,6]
max = a [0]
for i in range(len(a)):
    if a[i] > max:
        max =a[i]
print(max)

6

### Write a Python program to clone or copy a list

In [78]:
list1=[12,45,7,54]
new_list=[]
new_list=list(list1)
print("original list",list1)
print("new list",new_list)

original list [12, 45, 7, 54]
new list [12, 45, 7, 54]

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [93]:
s = set([0, 1, 3, 4, 5])
my_set = s
my_set.remove(0)
print(my_set)

{1, 3, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [89]:
length = int(input("enter set length"))
my_set=set()
for _ in range(length):
    item = int(input("enter set item"))
    my_set.add(item)
max, min =list(my_set)[0], list(my_set)[0]

for item in my_set:
    if item > max:
        max = item
    if item < min:
        min = item
print("max value is",max)
print("min value is",min)

enter set length 5
enter set item 6
enter set item 9
enter set item 4
enter set item 1
enter set item 2

max value is 9
min value is 1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [114]:
test_tup1 = ('name', 'age', 'city')
test_tup2 = (1, 2, 3)


print("The original key tuple is : " + str(test_tup1))
print("The original value tuple is : " + str(test_tup2))


if len(test_tup1) == len(test_tup2):
	res = dict(zip(test_tup1, test_tup2))


print("Dictionary constructed from tuples : " + str(res))

TypeError: 'str' object is not callable

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [51]:
tupels_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for index, tuple_item in enumerate(tupels_list):
    if isinstance(tuple_item, tuple):
        new_tuple= tuple_item[:-1] + (100,)
        tupels_list[index]=new_tuple
print(tupels_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]